:root {
  --type-scale-01: 0.75rem; // 12px
  --type-scale-02: 0.875rem; // 14px
  --type-scale-03: 1rem; // 16px
  --type-scale-04: 1.25rem; // 20px
  --type-scale-05: 1.5rem; // 24px
  --type-scale-06: 2rem; // 32px
  --type-scale-07: 3rem; // 48px
  --type-scale-08: 3.75rem; // 60px
}
