@font-face {
  font-family: 'npg-icons';
  src: url('../../assets/fonts/dxc-icons/dxc-icons.ttf?') format('truetype'),
    url('../../assets/fonts/dxc-icons/dxc-icons.woff?') format('woff'),
    url('../../assets/fonts/dxc-icons/dxc-icons.svg?#functional-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
